<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Admin Login</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span> <span
                class="icon-bar"></span> <span class="icon-bar"></span> <span
                class="icon-bar"></span>
        </button>
        <a class="navbar-brand"  href="#" th:href="@{/}">Home</a>
        <a class="navbar-brand" th:href="@{/users}">Admin</a>
        <!--                <a class="navbar-brand" th:href="@{/registeradmin}">Register</a>-->
        <!--                <a class="navbar-brand" th:href="@{/registeruser}">apply</a>-->
      </div>
    </div>
  </nav>
  <div class="container text-center">
    <div>
      <p class="alert alert-danger" th:if="${message} != null" th:text="${message}"></p>
    </div>

    <form class="form-horizontal" th:action="@{/adminlogin}" th:object="${login}" th:method="post" style="max-width: 600px; margin: 0 auto;" >
      <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
      </div>
      <div class="m-3">
        <div class="form-group row">
          <label class="control-label col-sm-3">Username: </label>
          <div class="col-sm-9">
            <input type="email" th:field="*{username}" class="form-control" required th:errorclass="is-invalid"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-sm-3">Password: </label>
          <div class="col-sm-9">
            <input type="password" th:field="*{password}" class="form-control" th:errorclass="is-invalid"/>
          </div>
        </div>

        <div>
          <button type="submit" class="btn btn-primary">Sign-In</button>
        </div>

      </div>
    </form>
    <div class="text-center"><p><a th:href="@{/registeradmin}">Sign Up</a></p></div>
  </div>


  <script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>