<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>List Users</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
  <div th:text = "${session.userName}"> </div>
  <div>
    <h1>User Files</h1>
  </div>
  <div>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>Uploads ID</th>
        <th>Passport Photo</th>
        <th>Resume</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="files:${file}">
        <td><a class="btn btn-info" th:href="@{/users/{id}(id=${file.id})}" th:text="${file.id}"></a></td>
        <td> <a class="btn btn-info" th:href="@{/uploads/{id}/passport(id=${file.id})}" th:text="${file.passportPhoto}"></a></td>
        <td>  <a class="btn btn-info" th:href="@{/uploads/{id}/resume(id=${file.id})}" th:text="${file.resume}"></a></td>
<!--        <td><a class="btn btn-info" th:href="@{/uploads/{id}/passport(id=${file.id})}" ></a></td>-->
        <!--        <td th:text="${applicant.surname}"></td>-->

      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>