<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Admin Page</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
  <div th:text = "${session.userName}"> </div>
  <div>
    <h1>User Info</h1>
  </div>
  <div>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>User ID</th>
        <th>Role</th>
        <th>Passport Photo</th>
        <th>E-mail</th>
        <th>First Name</th>
        <th>Surname</th>
        <th>Phone Number</th>
        <th>CoverLetter</th>
        <th>Resume</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="app:${applicant}">
        <td><a class="btn btn-info" th:href="@{/users}" th:text="${applicant.id}"></a></td>
        <td th:text="${applicant.appUserRole}"></td>
        <td>
          <a th:href="@{${applicant.passportPath}}"><img th:src="@{${applicant.passportPath}}" th:width="200" th:height="100"></a>
        </td>
        <td th:text="${applicant.email}"></td>
        <td th:text="${applicant.firstName}"></td>
        <td th:text="${applicant.surname}"></td>
        <td th:text="${applicant.phoneNumber}"></td>
        <td th:text="${applicant.coverLetter}"></td>
        <td>
          <a th:href="@{${applicant.resumePath}}" th:text="${applicant.resume}"></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>